# dependencies
/node_modules

# environment variables
.env
.env.local
.env.development
.env.production

# build outputs
/client/dist
/server/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode
.idea
